@model IEnumerable<prova_surpresa_mvc.Models.Curso>

    <h2>Lista de Cursos</h2>

    <p>

        <a asp-action="Create" class="btn btn-success">Novo Curso</a>

    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Professor</th>
                <th>Vagas Disponíveis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
    {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Descricao</td>
                <td>@item.Professor?.Nome</td>
                <td>@item.VagasDisponiveis</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CursoId" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.CursoId" class="btn btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.CursoId" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
